/* This css file contaion css properties for commonProfile.html*/

/* Body css starts*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #5d597c;
  place-items: center;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
/* Body css ends*/


/* Forms CSS starts*/
.profileCard {
  align-content: center;
  height: auto;
  width: auto;
  background-color: rgba(101, 77, 156, 0.13);
  position: absolute;
  margin-left: 40vw;
  margin-top: 10vw;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}


/* Responsive feature*/
@media (max-width: 768px) {
  .profileCard__center {
    padding-inline: 0.7em;
  }
}

@media (max-width: 768px) {
  .profileCard__center {
    display: grid;
    min-height: 50vh;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .profileCard {
    margin: 0 !important;
    margin-top: 10vw !important;
  }
}

.profileCard * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.profileCard h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
    .profileCard {
    margin-left: 0vw;
    margin-top: 0vw;
  }
}

/* Forms CSS Ends*/