  /* This css file contains css properties for searhUsers.html page*/
  
  /* table styling*/
  #myInput {
  
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow-x:auto;
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #2a2c44;
  }     
  
  
  form{ 
  position:relative;
    margin-top: 30%;
    overflow-x:auto;
    overflow-y: auto;
      }
  
   /* Button used to open the contact form - fixed at the bottom of the page */
  
  
  /* The popup form - hidden by default */
  .form-popup {
    width: 500px;
    opacity: 100%;
    display: none;
    position: fixed;
    margin-right: 40%;
    margin-bottom: 10%;
    text-align: center;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;



    place-items: center;
    padding-inline: 0.7em;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(66, 23, 23);
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #050303;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  

  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .table-container#blur .activeForm{

    filter: blur(20px);
    pointer-events: none;
    user-select: none;

  }

  #popup .activeForm{
    transition: 0.5s;
  }